*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
header{
      height: 90px;
      background: #fff9f9 ;
      padding:0 20px;
      color:rgb(0, 0, 0);
}
nav{
    height: 60px;
    background: #24262b;
}
.logo a{
    line-height: 95px;
    float:left;
    font-size: 40px;
    font-family: 'Monsieur La Doulaise', cursive;
    text-decoration: none;
    color: black;
}

.menu {
    float: left;
    line-height: 95px;
    padding: 0px 10%;
}
.profile {
    float: right;
    line-height: 95px;
}
.menu li{
    display: inline;
}
.menu a{
    color: #24262b;
    text-decoration: none;
    padding: 40px 30px 34px 30px;
    transition: 0.4s;
}
.profile li{
    display: inline;
}
.profile a{
    color: #24262b;
    text-decoration: none;
    padding: 40px 10px 34px 10px;
    transition: 0.4s;
}

.show-menu-btn,.hide-menu-btn{
    color: #24262b;
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.show-menu-btn{
    float: right;
}
.show-menu-btn i{
    line-height: 95px;
}


.menu a:hover,
.profile a:hover
{
    color:white;
    background: #fab1a0;
    transition:0.8s;
}
.logo a:hover{
    color:#fab1a0;
}
.show-menu-btn:hover, 
.hide-menu-btn:hover{
    color:#fab1a0;
}
#chk{
    position :absolute;
    visibility: hidden;
    z-index: -1111;
}
.search{
    z-index: 1;
    position: absolute;
    border : 2px solid #fab1a0;
    height: 35px;
    width: 350px;
    border-radius: 40px;
    padding:0px 0px 35px 10px;
    background: white;
    margin-top: 10px;
}
.divsearch{
    width: 350px;
    margin: auto;
}
.search-btn{
    color: white;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fab1a0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.search-txt{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #24262b;
    font-size:16px;
    transition: 0.4s;
    line-height: 36px;
}
.slider{
    width:100%;
    height: 600px;
    background: url(../image/3.jpg);
    margin:auto;
    animation: slide 20s infinite;
}

@keyframes slide{
    25%{
        background: url(../image/3.jpg);
    }
    50%{
        background: url(../image/14.jpg);
    }
    75%{
        background: url(../image/2.jpg);
    }
    100%{
        background: url(../image/10.jpg);
    }
}
.une{
    margin: 40px 5%;
    position: relative;
}
.une .une_titre{
    border-bottom: 1px solid #bfb4b4;
    color: #24262b;
}
.une_a_b{
    display: flex;
    padding-top: 30px;
    justify-content: space-evenly;
}
.une_a_h_p{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.une_a_h_p p {
    width: 30%;
    padding-top: 10px;
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 25px;
}
.une_a_h_p img{
    width: 70%;
    height: 600px;
    padding-right: 10px;
}
.une_b p{
    padding-top: 10px;
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 25px;
}
.une_a{
    padding: 0 20px 0 0;
width: 75%;
}
.une_b{
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 500px;
    background: #fab1a0;
    margin-top: 70px;
    width: 25%;
    color: white;

}
.une_a_b h2{
    color: #24262b;
}
main{
    height: 650px;
    margin: 10px 5%;
    position: relative;
    padding: 5px 0;
}

main .titre{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bfb4b4;
    color: #24262b;
}
.titre p span{
    border-radius: 3px;
    line-height: 19px;
    height: 30px;
    color: #24262b;
    margin: 0 5px;
    font-size: 40px;
    cursor: pointer;
    width: 30px;
    display: inline-block;
    text-align: center;
}
.titre p span:hover{
    background-color: #fab1a0;
    color: #ffffff;
}
section{
    height: 470px;
    margin: auto;
    display: flex;
    align-items: center;
    overflow-x: auto;
}
section::-webkit-scrollbar{
    display: none;
}
section .product{
    height: 95%;
    min-width: 20%;
    background: whitesmoke;
    margin: 0 10px 0 10px;
    border-radius: 20px;
    position: relative;
    left: 0;
    transition: 0.5s

}
picture{
    overflow: hidden;
    padding: 20px;
    height: 70%;
    display: flex;
}
picture img{
    width: 100%;
}
.detail,
.button{
    align-items: center;
    color: #24262b;
    margin: auto;
    width: 90%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    height: 35px;
    font-size: 16px;
}
small{
    color: #fab1a0;
}
.button a{
    border-radius: 7px;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    background: #fab1a0;
    color: white;
}
p.star{
    margin-top: 20px;
    margin-left: 15px;
    width: 50%;
    font-size: 15px;
    color: #24262b;
}
.container{
	max-width: 100%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


   


@media(max-width:1250px){
    .menu a{
        padding: 40px 20px 34px 20px;
    }
}
@media(max-width:1140px){
    .menu a{
        padding: 40px 12px 34px 12px;
    }

    .menu{
        padding: 0 8%;
    }
}
@media(max-width:1000px){
    .menu a{
        padding: 40px 8px 34px 8px;
    }

    .menu{
        padding: 0 6%;
    }
}
@media screen and (max-width:930px) {
    .show-menu-btn,.hide-menu-btn{
        display: block;
    }
    .menu{
        z-index: 2;
        position: fixed;
        width: 50%;
        height: 100vh;
        background-color: #fff9f9 ;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 90px 0;
        line-height: normal;
        transition: 0.7s;
    }

    .menu a{
        display: block;
        padding: 30px 70px 30px 70px;
    }
    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    .profile a{
        margin-right:10px;
    }
    #chk:checked ~ .menu{
        right:0;
    }
        
    }
    @media(max-width:800px){
        .une_a_b{
            flex-direction: column;
        }
        .une_b{
            margin-bottom: 0px;
            width: 100%;

        }
        .une_a{
            width: 100%;
        }
        .une_a_h_p{
            flex-direction: column;
        }
        .une_a_h_p img{
            width: 100%;
        }
        .une_a_h_p p{
            width: 100%;
        }
    }
    @media (max-width: 768px) {
        .text h1{
            font-size: 35px;
        }
        .text p{
            width: 90%;
        }
        section .product {
            min-width: 49%;
            margin:  0 10px  0 0;
        }
        .detail, .button{
            font-size: 16px;
        }
        .button a{
            padding: 6px 10px;
        }
    }
    /*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  
    @media(max-width:430px){
        .profile a{
            visibility: hidden;
        }
        .show-menu-btn,.hide-menu-btn{
            visibility: hidden;
        }
      
   
        
    }
    
 





